* {
  box-sizing: border-box;
}

.cards {
  width: 90vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
